<app-adminhomepage></app-adminhomepage>
<br>
<div *ngFor="let x of admindata">
    <div *ngIf="x.status=='null'">
        <div id="adminLoan Grid1" class="grid-container pb-2 pt-2">
            <div class="grid-item">Applicant name : {{x.applicantName}}</div>
            <div class="grid-item">Applicant Phone number : {{x.applicantPhone}}</div>
            <div class="grid-item">Applicant PAN : {{x.applicantPan}}</div>
            <div class="grid-item">Applicant Address : {{x.applicantAddress}}</div>
            <div class="grid-item">Applicant Loan Id : {{x.applicantLoanId}}</div>
            <div class="grid-item">Applicant Salary : {{x.applicantSalary}}</div>
            <div class="grid-item">Applicant Email : {{x.applicantEmail}}</div>
            <div class="grid-item">Applicant Aadhar : {{x.applicantAadhar}}</div>
            <div class="grid-item"><button id="adminApprovedLoan"  (click)="approveLoan(x)" style="margin: 10px;" type="button" class="btn btn-success btn-sm">Approve for loan</button> 
                <button id="adminRejectLoan" (click)="rejectLoan(x)" style="width: 120px;" type="button" class="btn btn-danger btn-sm">Reject</button></div>
        </div>
    </div>
    <br>
</div>
