<div class="container pd-2 pt-2">
    <h1 style="color: rgb(74, 103, 233);text-align:center">Welcome to Updating of Loan</h1>
    <form >
        <div class="form-group">
            <label>Applicant_Name</label><br>
            <input type="text" [(ngModel)]="admindata.applicantName" name="Applicant_Name" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Applicant_Aadhar</label><br>
            <input type="text" [(ngModel)]="admindata.applicantAadhar" name="applicantAadhar" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Applicant_Address</label><br>
            <input type="text" [(ngModel)]="admindata.applicantAddress" name="applicantAddress" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Applicant_Email</label><br>
            <input type="text" [(ngModel)]="admindata.applicantEmail" name="applicantEmail" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Applicant_Pan</label><br>
            <input type="text" [(ngModel)]="admindata.applicantPan" name="applicantPan" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Applicant_Phone</label><br>
            <input type="text" [(ngModel)]="admindata.applicantPhone" name="applicantPhone" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Applicant_Salary</label><br>
            <input type="text" [(ngModel)]="admindata.applicantSalary" name="applicantSalary" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Loan Amount Required</label><br>
            <input type="text" [(ngModel)]="admindata.loanAmountRequired" name="loanAmountRequired" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Loan Repayment Months</label><br>
            <input type="text" [(ngModel)]="admindata.loanRepaymentMonths" name="loanRepaymentMonths" class="form-control">
        </div><br>
        <button style="width: 3cm;" (click)="onSubmit(admindata)" type="submit" class="btn btn-primary btn-sm">Update</button>
        <button style="margin-left: 10cm;width: 3cm;" (click)="cancel()"  type="button" class="btn btn-danger btn-sm">Cancel</button>
    </form><br><br>
</div>