<div class="col-md-8 offset-md-3" ><br><br>
    <h2 style="background-color: deepskyblue;">Welcome to Edit Repayment Schedule for {{loanId}}</h2><br>
    <form >
        <div class="form-group">
            <label>Loan Amount Required</label><br>
            <input type="text" [(ngModel)]="admindata.loanAmountRequired" name="loanAmountRequired" class="form-control" >
        </div><br>
        <div class="form-group">
            <label>Loan Repayment Months</label><br>
            <input type="text" [(ngModel)]="admindata.loanRepaymentMonths" name="loanRepaymentMonths" class="form-control">
        </div><br>
        <button style="width: 3cm;" (click)="onSubmit(admindata)" type="submit" class="btn btn-primary btn-sm">Update</button>
        <button style="margin-left: 10cm;width: 3cm;" (click)="cancel()"  type="button" class="btn btn-danger btn-sm">Cancel</button>
    </form>
</div>